@import "../../binarta.style.guide/less/variables";

.bin-editable {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    transition: border-color 0.2s ease-out;
    border: fade(@bin-success, 30%) dashed 2px;
    border-radius: 3px;
  }

  &:hover:after {
    border-color: @bin-success;
  }
}