@import "../../binarta.style.guide/less/variables";

.bin-editable {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: border-color 0.2s ease-out, background-color 0.2s ease-out;
    border: fade(@bin-success, 50%) dashed 1px;
    border-radius: 2px;
    background-color: fade(@bin-success, 0);
  }

  &:hover:after {
    border-color: @bin-success;
    background-color: fade(@bin-success, 8%);
  }
}